<div class="mdl-grid portfolio-max-width">
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
            <img class="article-image" src="../img/mtacap-scrnsht.jpg" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">MTA Capital Planning</h2>
        </div>
        <div class="mdl-card__supporting-text">
            A public-facing webmap of the Maryland Transit Administration's Capital Planning projects. Utilizes the AngularJS framework and LeafletJS.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-mtacap.html">Read more</a>
        </div>
    </div>
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
            <img class="article-image" src="../img/pagd-scrnsht.png" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">PAGD Batch Exporter</h2>
        </div>
        <div class="mdl-card__supporting-text">
            A GUI-based python script for merging curve files created for the Maryland State Highway Administration's Office of Materials and Technology.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-pagd.html">Read more</a>
        </div>
    </div>
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
            <img class="article-image" src="../img/pearcecreek-scrnsht.jpg" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Pearce Creek Outreach</h2>
        </div>
        <div class="mdl-card__supporting-text">
            An outreach site detailing the ongoing dredging operations at the Pearce Creek Dredged Material Containment Facility.  
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-pearce.html">Read more</a>
        </div>
    </div>
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
            <img class="article-image" src="../img/mtacap-scrnsht.jpg" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">MTA Capital Planning</h2>
        </div>
        <div class="mdl-card__supporting-text">
            A public-facing webmap of the Maryland Transit Administration's Capital Planning projects. Utilizes the AngularJS framework and LeafletJS.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-mtacap.html">Read more</a>
        </div>
    </div>
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
            <img class="article-image" src="../img/pagd-scrnsht.png" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">PAGD Batch Exporter</h2>
        </div>
        <div class="mdl-card__supporting-text">
            A GUI-based python script for merging curve files created for the Maryland State Highway Administration's Office of Materials and Technology.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-pagd.html">Read more</a>
        </div>
    </div>
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
            <img class="article-image" src="../img/pearcecreek-scrnsht.jpg" border="0" alt="">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Pearce Creek Outreach</h2>
        </div>
        <div class="mdl-card__supporting-text">
            An outreach site detailing the ongoing dredging operations at the Pearce Creek Dredged Material Containment Facility.  
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-pearce.html">Read more</a>
        </div>
    </div>
</div>