<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">&copy; {{ 'now' | date: "%Y" }} Anne Canoune</div>
    </div>
    <div class="mdl-mini-footer__right-section">
        <ul class="mdl-mini-footer__link-list">
            <li>
                <a href="https://twitter.com/AnnieGitUrGun">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://github.com/AnnieGitUrGun">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-github-alt fa-stack-1x"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://plus.google.com/u/0/100473740886508499890">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-google-plus fa-stack-1x"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</footer>